%h1 Listing categories

%table.table
  %tr
    %th Name
    %th
    %th
    %th

  - categories.each do |category|
    %tr
      %td= category.name
      %td
        = link_to category, class: 'btn btn-primary' do 
          %span.glyphicon.glyphicon-eye-open
          Show
      - if  user_signed_in? &&  current_user.admin?
        %td
          = link_to edit_category_path(category), class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-edit
            Edit
        %td
          = link_to  category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' do
            %span.glyphicon.glyphicon-trash 
            Delete
      - else
        %td
        %td

%br
- if  user_signed_in? &&  current_user.admin?
  = link_to 'New Category', new_category_path, class: 'btn btn-primary'
